.hoard-money {
	max-width: 100%;
	height: auto;	
	background: #f7f9fa;
	padding-top: 10px;
	margin-bottom: 135px;
}
.hoard-money-content-wrap {
	padding-top: 30px;
}
.card-wrapper {
	width: 282px;
	height: 403px;
	text-align: center;
	background: url("@{dir}card.png")no-repeat top center;	
}
.card-head {
	width: 282px;
	height: 60px;
	background: #1f78bb;
}
.card-head p {
	color: #fff;
	line-height: 3.5;
}
.card-head a {
	color: #fff;
	line-height: 3.5;
	border-bottom: 1px dashed #fff;
}
.card-head a:hover {
	border-bottom: 1px solid #fff;
} 
.column-1 .card-content p {
	padding-top: 15px;
}
.hoard-money-content-wrap .column {
	margin-bottom: 30px;
}
.card-content {
	padding-top: 22px;
}
.card-content img {
	max-width: 100%;
	height: auto;
}
.card-content p {
	padding-top: 25px;
	color: @blue-2;
}
.card-content-two {
	padding-top: 75px;
	padding-bottom: 40px;
}
.card-content-two h5 {	
	color: @blue-2;
}
.card-content-two p {
	font-size: 30px;
	color: @blue-2;
}
.card-content-two span {	
	color: #333;
}
.card-wrapper-two {
	width: 282px;
	height: 403px;
	text-align: center;
	background: url("@{dir}card-two.png")no-repeat top center;	
}
.column-3 .card-content-two {
	padding-top: 5px;
	padding-bottom: 25px;
}
.btn-card-top {
	padding: 17px;
}
.card-content-fore {
	padding-top: 30px;
}
.card-content-fore p {
	text-align: center;
	font-style: italic;
	margin-bottom: 0;
}
.card-content-fore span {
	font-style: italic;
	color: #ff6161;
}
